{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-xxl flex-grow-1 container-p-y">
		<h3>Listes des articles</h3>
		<a href="{{url('app_ajouter_livre')}}"><button type="button" class="btn rounded-pill btn-primary">Ajouter</button></a><br>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Numero</th>
					<th>libelle</th>
					<th>is_disponible</th>
					<th>Price</th>
                    <th>Marque</th>
                    
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{article.libelle}}</td>
						<td>{{article.disponible}}</td>
                        <td>{{article.Price}}</td>
                        <td>{{article.marque}}</td>
                    
						<td>
                            <a class="btn rounded-pill btn-warning" href="{{url('app_modifier_livre', {'id':article.id})}}">Modifier</a>
							<a class="btn rounded-pill btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Supprimer</a>
							<div class="modal" id="myModal">
								<div class="modal-dialog">
									<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Suppression d'un article</h4>
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										Cette action est irréversible !
										Voulez-vous supprimer ce article ?
									</div>

									<!-- Modal footer -->
									<div class="modal-footer">
										<a class="btn rounded-pill btn-danger" href="{{url('app_supprimer_livre', {'id':article.id})}}">Confirmez</a>
										<a class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
									</div>

									</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
